/*
  ========================================
  Entire Navigation Bar Component
  ========================================
*/

.nav-bar {
  display: block;
  color: #000;
  font: 16px/22px "AktivGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*
  ========================================
  Shipping Section
  ========================================
*/

.shipping-bar {
  background-color:#DDC9A3;
  height: 33px;
  position: relative;
  text-align: center;
}

.shipping-text {
  display: inline-block;
  color: #222;
  font-size: 12px;
  font-weight: 350;
  margin-top: 6px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/*
  ========================================
  Main Section - Pending
  ========================================
*/

.main-bar {
  display: block;
  /* position: sticky; */
  /* top: 33px; */
  background: #FFF;
  width: 100%;
  font-size: 12px;
  height: 80px;
  /* transition: top 0.5s; */
}

/*
  ----------------------------------------
  Company Logo
  ----------------------------------------
*/

.company-logo-container {
  display: inline-block;
  height: 80px;
  width: 200px;
  vertical-align: top;
  margin-inline-start: 90px;
}

.company-logo-image {
  display: inline-block;
  width: 175px;
  padding-right: 5px;
  margin-top: 28px;
  margin-inline-start: 15px;
  cursor: pointer;
}

/*
  ----------------------------------------
  Search Bar - Pending
  ----------------------------------------
*/

.search-container {
  display: inline-block;
  height: 80px;
  width: 49%;
  vertical-align: top;
}

.search-bar {
  display: inline-block;
  height: 30px;
  width: 660px;
  max-width: 95%;
  margin-top: 30px;
  padding-left: 15px;
  background-color: #000;
  border-radius: 30px;
}

.search-button {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  border: 0;
  background-image: url(https://i.imgur.com/DCRnDYC.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #000;
  cursor: pointer;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFF;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFF;
}

.search-input {
  display: inline-block;
  width: 650px;
  max-width: 95%;
  margin-top: 5px;
  margin-left: 6px;
  background-color: #000;
  font-size: 12px;
  border: 0;
  color: #FFF;
}

.search-input:focus {
  outline: none;
}

/*
  ----------------------------------------
  Contact Methods
  ----------------------------------------
*/

.chat-container {
  display: inline-block;
  height: 80px;
  width: 112px;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.chat-icon {
  display: inline-block;
  height: 18px;
  margin-top: 30px;
  padding-right: 5px;
}

.phone-container {
  display: inline-block;
  height: 80px;
  width: 125px;
}

.phone-icon {
  display: inline-block;
  height: 12px;
  padding-right: 10px;
}

.phone-text {
  display: inline-block;
  margin-top: 35px;
}

/*
  ----------------------------------------
  Login
  ----------------------------------------
*/

.login-container {
  display: inline-block;
  height: 80px;
  vertical-align: top;
}

.login-text {
  display: inline-block;
  width: 140px;
  margin-top: 35px;
  vertical-align: top;
  text-align: right;
  cursor: pointer;
}

.avatar-icon {
  display: inline-block;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  width: 40px;
  margin-top: 20px;
  vertical-align: top;
  cursor: pointer;
}

.login-modal {
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  height: 470px;
  width: 420px;
  background: #FFF;
  z-index: 4;
}

.login-img {
  display: block;
  height: 470px;
  width: 420px;
}

.login-modal-dim-background {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
}

/*
  ----------------------------------------
  Checkout
  ----------------------------------------
*/

.checkout-container {
  display: inline-block;
  height: 80px;
  width: 50px;
  vertical-align: bottom;
}

.cart-icon {
  display: inline-block;
  vertical-align: bottom;
  height: 15px;
  margin-inline-start: 20px;
  margin-top: 35px;
  cursor: pointer;
}

/*
  ========================================
  Search Result - Pending
  ========================================
*/

.search-results {
  display: block;
  height: 560px;
  width: 67%;
  position: absolute;
  border-top: 1px solid;
  border-color:	#C8C8C8;
  background-color: #FFF;
  margin-left: 17.25%;
  text-align: center;
  transition: all 5s ease-in-out;
  z-index: 2;
}

.search-result-text-container {
  display: block;
  width: 245px;
  float: left;
  margin-inline-start: 15px;
  margin-top: 20px;
  font-size: 14px;
}

.query-text {
  font-weight: 800;
}

.search-department {
  color: #666;
}

.result-with-category {
  margin-left: 18px;
}

.search-result-text-item {
  display: inline-block;
  width: 100%;
  height: 30px;
  text-align: left;
}

.search-result-separator-container {
  display: block;
  text-align: center;
}

.search-result-separator {
  display: inline-block;
  width: 100%;
  height: 1px;
  /* margin-top: 40px; */
  background-color:	#C8C8C8;
  border-radius: 3px;
}

.search-result-display-container {
  display: block;
  width: 75%;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 14px;
  text-align: center;
}

.search-result-display-item {
  display: inline-block;
  width: 185px;
  height: 220px;
  margin: 10px;
  text-align: center;
}

.search-result-display {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin-bottom: 15px;
}

.search-result-display-brand {
  display: inline-block;
  width: 100%;
  font-weight: 800;
}

.search-result-display-name {
  display: inline-block;
  width: 100%;
}

/*
  ========================================
  Menu Section
  ========================================
*/

.menu-bar {
  display: block;
  height: 60px;
  font-size: 14px;
  text-align: center;
  /* position: sticky; */
  /* top: 33px; */
}

.menu-item {
  display: inline-block;
  height: 60px;
  width: 11.16%;
  border-top: 1px solid;
  cursor: pointer;
}

.menu-name {
  line-height: 60px;
}

.hover-dim-background {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}
/*
  ========================================
  Hover Containers - Pending
  ========================================
*/

.hover-display {
  display: block;
  font-size: 14px;
  width: 100%;
  color: #666;
  background-color: #FFF;
  border-top: 1px solid;
  border-color:	#C8C8C8;
  position: absolute;
  top: 173px;
  left: 0px;
  text-align: left;
  z-index: 1;
  transition: height 0.5s ease-in;
  max-height: 0;
  opacity: 0;
}

.hover-brands {
  font-size: 12px;
  text-align: center;
}

.hover-activities {
  font-size: 14px;
  text-align: center;
  color: #666;
}

/* Hover Display Background */
.new-arrivals:hover .hover-new-arrivals,
.brands:hover .hover-brands,
.activities:hover .hover-activities,
.women:hover .hover-women,
.men:hover .hover-men,
.kids:hover .hover-kids,
.sale:hover .hover-sale{
  opacity: 1;
  max-height: 800px;
  padding-block-end: 30px;
}

.new-arrivals:hover ~ .hover-dim-background,
.brands:hover ~ .hover-dim-background,
.activities:hover ~ .hover-dim-background,
.women:hover ~ .hover-dim-background,
.men:hover ~ .hover-dim-background,
.kids:hover ~ .hover-dim-background,
.sale:hover ~ .hover-dim-background{
  display: block;
  height: 100vh;
  width: 100vw;
}

/* Hover Display Content */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.new-arrivals:hover * .category-container,
.new-arrivals:hover * .seasonal-ad,
.brands:hover * .brands-item,
.activities:hover * .activity-container,
.activities:hover * .other-activities-container,
.women:hover * .category-container,
.men:hover * .category-container,
.kids:hover * .category-container,
.sale:hover * .category-container {
  display: inline-block;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.brands:hover * .brands-header,
.activities:hover * .separator-container {
  display: block;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

/*
  ----------------------------------------
  Hover New Arrivals, Women, Men, Kids, & Sale Section - Pending
  ----------------------------------------
*/

.container-0 {
  margin-inline-start: 340px;
}

.category-container {
  display: none;
  vertical-align: top;
  width: 200px;
  max-width: 12%;
  margin-top: 35px;
  text-align: center;
  opacity: 0;
}

.category-name {
  display: inline-block;
  width: 160px;
  max-width: 95%;
  font-weight: 800;
  font-size: 16px;
  text-align: left;
  color: #000;
  cursor: pointer;
}

.category-item {
  display: inline-block;
  height: 24px;
  width: 160px;
  max-width: 95%;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}

.category-item:hover {
  color: #222;
}

.seasonal-ad {
  display: none;
  vertical-align: top;
  width: 250px;
  max-width: 15%;
  margin-top: 35px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
}

.ad-photo {
  display: inline-block;
  height: 240px;
  max-width: 100%;
  object-fit: cover;
  object-position: -310px;
}

.ad-small-text {
  display: inline-block;
  color: #999;
  width: 250px;
  height: 20px;
  max-width: 100%;
}

.ad-large-text {
  display: inline-block;
  font: 26px "CaslonGraphique", serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  color: #222;
  width: 250px;
  max-width: 100%;
}

/*
  ----------------------------------------
  Hover Brands Section - Pending
  ----------------------------------------
*/

.brands-header {
  display: none;
  margin-top:25px;
  color: #222;
  opacity: 0;
}

.brands-item {
  display: none;
  margin-top: 30px;
  padding: 0px 11px;
  color: #666;
  cursor: pointer;
  opacity: 0;
}

.brands-item:hover {
  color: #222;
}

/*
  ----------------------------------------
  Hover Activities Section - Pending
  ----------------------------------------
*/

.activity-container {
  display: none;
  height: 102px;
  width: 14.2%;
  text-align: center;
  margin-top: 30px;
  opacity: 0;
}

.activity-image {
  display: inline-block;
  height: 102px;
  width: 200px;
  text-align: center;
  box-shadow: inset 0 0 0 150vw rgba(0,0,0,0.5);
  cursor: pointer;
}

.activity-image.image-0 {
  background: url(https://i.imgur.com/gVdHy4R.jpg);
  background-size: contain;
}
.activity-image.image-1 {
  background: url(https://i.imgur.com/chrV69Y.jpg);
  background-size: contain;
}
.activity-image.image-2 {
  background: url(https://i.imgur.com/VTihgd6.jpg);
  background-size: contain;
}
.activity-image.image-3 {
  background: url(https://i.imgur.com/xwEoVMZ.jpg);
  background-size: contain;
}
.activity-image.image-4 {
  background: url(https://i.imgur.com/0oiRl9n.jpg);
  background-size: contain;
}
.activity-image.image-5 {
  background: url(https://i.imgur.com/NWRhuz2.jpg);
  background-size: contain;
}

.activity-name {
  display: inline-block;
  position: relative;
  font-size: 16px;
  top: 40%;
  color: #FFF;
}

.separator-container {
  display: none;
  text-align: center;
  opacity: 0;
}

.separator {
  display: inline-block;
  width: 100px;
  height: 2px;
  margin-top: 40px;
  background-color:	#F0F0F0;
  border-radius: 3px;
}

.other-activities-container {
  display: none;
  margin-top: 25px;
  opacity: 0;
}

.other-activity-item {
  display: inline-block;
  height: 20px;
  font-size: 12px;
  padding: 0px 15px;
  cursor: pointer;
}

.other-activity-item:hover {
  color: #222;
}

/*
  ========================================
  Sale Section - Pending
  ========================================
*/

.sale-bar {
  background: url(https://i.imgur.com/f5Z12ND.jpg);
  background-size: cover;
  background-position-y: -780px;
  padding: 17px;
  cursor: pointer;
}

.sale-text1 {
  display: block;
  color: #FFF;
  font-size: 18px;
  font-weight: 350;
  text-align: center;
  text-decoration: none;
}

.sale-text2 {
  font-weight: 600;
}

/*
  ========================================
  Static Components
  ========================================
*/

.static-image {
  display: block;
  text-align: center;
  background-size: contain;
  width: 100%;
  z-index: -1;
}

/* .menu-bar:hover ~ .static-image {
  filter: brightness(80%);
} */